<html>
    <head>
        <meta charset="utf8">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Vitalogy | Blood Pressure</title>
    </head>

    <body>
        <!-- top navbar menu -->
        <nav style="background-color: #760C0C">
                <div class="nav-wrapper">
                <a href="/" class="brand-logo">Vitalogy</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown">What We Test For<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                </div>
        </nav>
        <!-- dropdown content -->
        <ul id="dropdown" class="dropdown-content">
            <li><a style="color:#760C0C" href="bloodpressure">Blood Pressure</a></li>
            <li><a style="color:#760C0C" href="triglycerides">Triglycerides</a></li>
            <li><a style="color:#760C0C" href="cholesterol">Cholesterol</a></li>
        </ul>

        <br/>

        <!-- Details -->
        <section>
            <h4 class="center-align">What is blood pressure?</h4>
            <div class="container">
                <p class="flow-text">
                        Blood pressure is a measurement of the force against the walls of your arteries as your heart pumps 
                        blood through your body. 
                        <br />
                        <strong>Systolic</strong> (top number) measures the pressure in the arteries <strong>when the heart beats</strong> (when the heart 
                        muscle contracts.)
                        <br />
                        <strong>Diastolic</strong> (bottom number) measures the pressure in the arteries <strong>between heartbeats</strong> (when the 
                        heart is resting and refilling with blood.)
                </p>
                <br />
                <h5>The chart below reflects blood pressure categories defined by the <strong>American Heart Association (AHA)</strong></h5>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>Blood Pressure Category</th>
                            <th>Systolic mm Hg (upper #)</th>
                            <th></th>
                            <th>Diastolic mm Hg (lower #)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="green">
                            <td>Normal</td>
                            <td>less than 120</td>
                            <td>and</td>
                            <td>less than 80</td>
                        </tr>
                        <tr class="yellow">
                            <td>Prehypertension</td>
                            <td>120-139</td>
                            <td>or</td>
                            <td>80-89</td>
                        </tr>
                        <tr class="orange">
                            <td>High Blood Pressure (Hypertension) Stage 1</td>
                            <td>140-159</td>
                            <td>or</td>
                            <td>90-99</td>
                        </tr>
                        <tr class="deep-orange">
                            <td>High Blood Pressure (Hypertension) Stage 2</td>
                            <td>160 or higher</td>
                            <td>or</td>
                            <td>100 or higher</td>
                        </tr>
                        <tr class="red">
                            <td>Hypertensive Crisis (Emergency care needed)</td>
                            <td>Higher than 180</td>
                            <td>or</td>
                            <td>Higher than 110</td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <p class="flow-text">
                    <strong>What is Hypertension?</strong>
                    <br /><br />
                    Hypertension, also referred to as "high blood pressure," is a condition in which the arteries have persistently elevated blood pressure. Every time the human heart beats, 
                    it pumps blood to the whole body through the arteries. The higher the pressure, the harder it is for the heart to pump that blood.
                    
                    <br /><br />

                    <strong>How is hypertension diagnosed?</strong>
                    <br /><br />
                    A single high reading does not necessarily mean that you have high blood pressure. <i>Your doctor may take several readings over time</i> and/or have you <i>monitor your blood pressure at home</i>
                    before <strong>diagnosing</strong> you with hypertension.

                    <br /><br />

                    <strong>Why is it important?</strong>
                    <br /><br />
                    High blood pressure increases your chances of having a stroke, heart attack, heart failure, kidney disease, or early death.
                </p>
            </div>
        </section>

        <hr>

        <!-- Symptoms -->
        <section>
            <div class="row">
                <h4 class="center-align">Symptoms</h4>
            </div>
            <div class="container">
                <p class="flow-text">
                    High blood pressure is a <strong>symptomless disease</strong> except in its most extreme case known as <i>hypertensive crisis</i> when blood pressure readings rise from 180+ for systolic OR 110+ for diastolic.
                    Potential symptoms: 
                    <li>Shortness of breath</li>
                    <li>Chest pain</li>
                    <li>Weakness/numbness of face, arms or legs</li>
                    <li>Change in vision</li>
                    <li>Difficulty in speaking/functioning</li>
                    <li>Severe headache</li>
                    <li>Nosebleeds</li>
                    <li>Severe anxiety</li>

                    <hr>
                    Most of the time, there are no symptoms; this is why hypertension is often called the "<strong>silent killer</strong>." Because there are no symptoms, people can develop heart disease and kidney problems without knowing they have high blood pressure. For most patients, high blood pressure is found during a doctor visit or health screening. 
                    <br />
                    If you have a blood pressure reading of 180 or higher on top or 110 or higher on the bottom, and are having any symptoms of possible organ damage that are listed above, do not wait to see if your pressure comes down on its own. <strong><i>Seek emergency medical assistance immediately.</i></strong> If you can't access the emergency medical services (EMS), have someone drive you to the hospital right away.
                    <br />
                    Hypertensive emergencies generally occur at blood pressure levels exceeding 180 systolic OR 120 diastolic, but <strong>can</strong> occur at even lower levels in patients whose blood pressure had not been previously high. The consequences of uncontrolled blood pressure in this range can be severe and include: 
                    <li>Stroke</li>
                    <li>Loss of consciousness</li>
                    <li>Memory loss</li>
                    <li>Heart attack</li>
                    <li>Damage to the eyes and kidneys</li>
                    <li>Loss of kidney function</li>
                    <li>Aortic dissection</li>
                    <li>Angina</li>
                    <p class="small"><i>Source: American Heart Association</i></p>    

                </p>
            </div>
        </section>

        <hr>

        <!-- High - Risk Factors -->
        <section>
            <div class="row">
                <h4 class="center-align">High-Risk Factors</h4>
            </div>
            <div class="container">
                You have a higher risk of high blood pressure if you: 
                <li>Eat too much salt in your diet</li>
                <li>Have a family history of high blood pressure</li>
                <li>Have diabetes</li>
                <li>Smoke</li>
                <li>Are obese</li>
                <li>Are often stressed or anxious</li>
                <li>Drink too much alcohol (More than one drink per day for women and more than two drinks per day for men)</li>
                <li>Are African American</li>

                In addition, you are more likely to be told your blood pressure is too high <strong>as you get older.</strong> This is because your <strong>blood vessels become stiffer as you age.</strong> When that happens, your blood pressure goes up.
            </div>
        </section>

        <hr>

        <!-- Improve your blood pressure -->
        <section>
            <div class="row">
                <h4 class="center-align">Tips to Improve Blood Pressure</h4>
            </div>
            <div class="container">
                You can do many things to help control your blood pressure at home, including: 
                <li>Eating healthy (include foods with potassium and fiber, drink plenty of water)</li>
                <li>Limiting sodium (less than 1500mg per day)</li>
                <li>Excercising regularly (at least 30 minutes of aerobic exercise per day)</li>
                <li>Not smoking</li>
                <li>Limiting alchol (one drink a day for women, two drinks a day for men)</li>
                <li>Reducing stress</li>
                <li>Staying at a healthy body weight</li>

                <p class="small">
                    <i>Sources:</i>
                    http://www.heart.org/HEARTORG/Conditions/HighBloodPressure/AboutHighBloodPressure/Understanding-Blood-Pressure-Readings_UCM_301764_Article.jsp#
                    http://www.nlm.nih.gov/medlineplus/ency/article/000468.htm
                </p>
            </div>
        </section>

        <!-- FAQ -->
        <section class="accent-section">
            <div class="row">
                <h4 class="center-align">FAQ</h4>
            </div>
            <div class="container">
                <h5><strong>Is high blood pressure really that serious?</strong></h5>
                <p>
                    Yes, uncontrolled high blood pressure can injure or kill you. It is sometimes called the "silent killer" because it has no symptoms and you may not be aware that it's damaging your arteries, heart and other organs. Many organs, including the brain, eyes, blood vessels, heart, and kidneys may be damaged. The blood vessels of the kidney are very likely to be damaged by pressure. Kidney failure may develop, which may be permanent and require dialysis (kidney  machine). In addition, consider these statistics: 
                    <li> <strong>77%</strong> of Americans treated for a first stroke have blood pressure over 140/90</li>
                    <li> <strong>69%</strong> of Americans who have a first heart attack have blood pressure over 140/90</li>
                    <li> <strong>74%</strong> of Americans with congestive heart failure have blood pressure over 140/90</li>    
                </p>

                
                <br />

                <h5><strong>Which number is more important, the top (systolic) or the bottom (diastolic)?</strong></h5>
                <p>
                    Typically more attention is given to the top number (systolic blood pressure) as a major risk factor for cardiovascular disease for people over 50 years old. In most people, systolic blood pressure rises steadily with age due to increasing stiffness of large arteries, long-term build up of plaque, and increased incidence of cardiac and vascular disease.
                </p>

                <br /> 

                <h5><strong>When is blood pressure too low?</strong></h5>
                <p>
                    There is no specific number at which day-to-day blood pressure is considered too low, as long as no symptoms of trouble are present. As long as you are not experienceing symptoms of low blood pressure, there is no need for concern. Most doctors consider chronically low blood pressure dangerous only if it causes noticeable signs and symptoms, such as: 
                    
                    <li>Dizziness or lightheadedness</li>
                    <li>Fainting</li>
                    <li>Dehydration and unusual thirst</li>
                    <li>Lack of concentration</li>
                    <li>Blurred vision</li>
                    <li>Nausea</li>
                    <li>Cold, clammy, pale skin</li>
                    <li>Rapid, shallow breathing</li>
                    <li>Fatigue</li>
                    <li>Depression</li>

                    As long as no symptoms are present, low blood pressure is not a problem. However, if your blood pressure is normally higher or if you are experiencing any of the symptoms listed above, your low blood pressure may have an underlying cause.   
                </p>
            </div>
        </section>

        <footer>
            <p></p>
        </footer>
        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>
