<html>
    <head>
        <meta charset="utf8">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Vitalogy | Cholesterol</title>
    </head>

    <body>
        <!-- top navbar menu -->
        <nav style="background-color: #760C0C">
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Vitalogy</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#about">About Us</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown">What We Test For<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="nav-mobile">
                <li><a href="/">Home</a></li>
                <li><a style="color:#760C0C" href="bloodpressure">Blood Pressure</a></li>
                <li><a style="color:#760C0C" href="triglycerides">Triglycerides</a></li>
                <li><a style="color:#760C0C" href="cholesterol">Cholesterol</a></li>            
            </ul>
            </div>
        </nav>
        <!-- dropdown content -->
        <ul id="dropdown" class="dropdown-content">
            <li><a style="color:#760C0C" href="bloodpressure">Blood Pressure</a></li>
            <li><a style="color:#760C0C" href="triglycerides">Triglycerides</a></li>
            <li><a style="color:#760C0C" href="cholesterol">Cholesterol</a></li>
        </ul>

        <br/>

        <!-- what is it -->
        <section>
            <br/>
            <h3 class="center-align">What is Cholesterol?</h3>
            <div class="container">
                <p class="flow-text">
                    Cholesterol is a waxy substance that's found in the fats (lipids) in your blood that is essential for animal life - in the right amounts. It performs three essential functions: 
                    <br />
                    Helps make the outer coating of cells 
                    </br/>
                    Makes up the bile acids that work to digest food in the intestine
                    <br/>
                    Allows the body to make Vitamin D and hormones, such as testosterone in men and estrogen in women
                    <br/>
                    While your body needs cholesterol to continue building healthy cells, having high cholesterol can increase your risk of heart disease
                </p>
            </div>
        </section>


        <!-- HDL/LDL -->
        <section class="accent-section">
            <div class="container">
                <div class="col m6 l6">
                    <h4>HDL (High Density Lipoprotein)</h4>
                    <h5>Good Cholesterol</h5>
                    <p class="flow-text">
                        An HDL level greater than 60 is a negative risk factor 
                        <br/>
                        Average HDL for an adult male is 45
                        <br/>
                        Average HDL for an adult female is 55
                        <br/>
                        Up to a third of blood cholesterol is carried by high-density lipoproteins or HDL. This is called good cholesterol because it helps remove bad cholesterol, preventing it from building up inside the arteries. The higher the level of HDL cholesterol, the better. People with too little are more likely to develop heart disease. Eating healthy fats, such as olive oil, may help boost HDL cholesterol.
                    </p>
                </div>
                <div class="col m6 l6">
                    <h4>LDL (Low Density Lipoprotein)</h4>
                    <h5>Bad Cholesterol</h5>
                    <p class="flow-text">
                        Most of the cholesterol in the blood is carried by proteins called low density lipoproteins or LDL. This is known as the bad cholesterol because it combines with other substances to clog the arteries. A diet high in saturated fats and trans fats tends to raise the level of LDL cholesterol. For most people, an LDL score below 100 is healthy, but people with heart disease may need to aim lower.
                    </p>
                </div>
            </div>
        </section>

        <!-- Total -->
        <section>
            <h4 class="center-align">Total Cholesterol</h4>
            <h5 class="center-align">HDL+LDL+VLDL = TC</h5>
            <div class="container">
                <p class="flow-text">
                    Total cholesterol measures the combination of LDL, HDL and VLDL (very low density lipoprotein) in your bloodstream. VLDL is a precursor of LDL, the bad cholesterol. A total cholesterol score of under 200 is considered healthy in most cases. People who score in the high range have an increased risk of developing heart disease compared to those who score below 200.
                </p>
                <br />
                <table>
                    <thead>
                        <tr>
                            <th>Total Cholesterol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Normal</td>
                            <td>< 200</td>
                        </tr>
                        <tr>
                            <td>Borderline High</td>     
                            <td>200-239</td>
                        </tr>
                        <tr>
                            <td>High Cholesterol</td>    
                            <td>240</td>
                        </tr>
                    </tbody>
                </table>
                <br/>
            </div>
        </section>

        <!-- importance -->
        <section class="accent-section">
            <div class="container">
                <h4 class="center-align">Why High Cholesterol Matters</h4>
                <br />
                <p class="flow-text">
                    High cholesterol is one of the major risk factors for coronary artery disease, heart attacks, and strokes. It also appears to boost the risk of Alzheimer's disease. As we saw earlier, high cholesterol leads to a buildup of plaque that narrows the arteries. This is dangerous because it can restrict blood flow. If the blood supply to a part of the heart or brain is completely cut off, the result is a heart attack or stroke.
                </p>
                <br/><br/>
                <h4 class="center-align">Symptoms of High Cholesterol</h4>
                <br />
                <p class="flow-text">
                    High cholesterol does not cause any symptoms. But it does cause damage deep within the body. Over time, too much cholesterol may lead to a buildup of plaque inside the arteries. Known as atherosclerosis, this condition narrows the space available for blood flow and can trigger heart disease. The good news is high cholesterol is simple to detect, and there are many ways to bring it down.
                </p>
                <br/><br/>
                <h4 class="center-align">Cholesterol and Family History</h4>
                <br/>
                <p class="flow-text">
                    Cholesterol comes from two sources - the body and food - and either one can contribute to high cholesterol. Some people inherit genes that trigger too much cholesterol production. For others, diet is the main culprit. Saturated fat and cholesterol occur in animal-based foods, including meat, eggs, and dairy products made with milk. In many cases, high cholesterol stems from a combination of diet and genetics.
                </p>
                <br/><br/>
                <h4 class="center-align">Cholesterol and Gender</h4>
                <br/>
                <p class="flow-text">
                    Until menopause, women typically have lower total cholesterol levels than men of the same age. They also have higher levels of HDL cholesterol, the good kind. One reason is estrogen: the female sex hormone raises the level of HDL cholesterol. Estrogen production peaks during the childbearing years and drops off during menopause. After age 55, a woman's risk of developing high cholesterol begins to climb.
                </p>
                <br/><br/>
                <h4 class="center-align">Cholesterol and Children</h4>
                <br/>
                <p class="flow-text">
                    There's evidence that cholesterol can begin clogging the arteries during childhood, leading to atherosclerosis and heart disease later in life. The American Heart Association recommends kids and teenagers with high cholesterol take steps to bring it down. Ideally, total cholesterol should be below 170 in people ages 2-19.
                </p>
            </div>
        </section>

        <!-- Ways to Bust Cholesterol -->
        <section>
            <h4 class="center-align">Ways to Lower Cholesterol</h4>
            <br/>
            <div class="container">
                <h5 class="center-align">Know Your Fats</h5>
                <br/>
                <p class="flow-text">
                    No more than 35% of your daily calories should come from fat. But not all fats are equal. Saturated fats -- from animal products and tropical oils -- raise LDL cholesterol. Trans fats carry a double-whammy, boosting bad cholesterol, while lowering the good kind. These two bad fats are found in many baked goods, fried goods (doughnuts, fries, chips) stick margarine, and cookies. Unsaturated fats may lower LDL when combined with other healthy diet changes.
                </p>
                <br /><br />

                <hr>

                <h5 class="center-align">Eat More Fiber</h5>
                <br/>
                <p class="flow-text">
                    Diet changes offer a powerful way to fight high cholesterol. If you've ever wondered why some cereals claim to be heart-healthy, it's the fiber. The soluble fiber found in many foods helps reduce LDL, the bad cholesterol. Good sources of soluble fiber include whole-grain breads and cereals, oatmeal, fruits, dried fruits, vegetables, and legumes such as kidney beans.
                </p>
                <br /><br />

                <hr>

                <h5 class="center-align">Smart Protein</h5>
                <br/>
                <p class="flow-text">
                    Meat and full-fat milk offer plenty of protein, but they are also major sources of cholesterol. You may be able to reduce LDL cholesterol by switching to soy protein, such as tofu, at some meals. Fish is another great choice. It's rich in omega-3 fatty acids, which can improve cholesterol levels. The American Heart Association recommends eating fish at least twice a week.
                </p>
                <br /><br />

                <hr>

                <h5 class="center-align">Quit Smoking</h5>
                <br/>
                <p class="flow-text">
                    Giving up tobacco is tough, but here's one more reason to try. When you stop smoking, your good cholesterol is likely to improve by as much as 10%. You may be more successful if you combine several smoking cessation strategies. Talk to your doctor about which options are best for you.
                </p>
                <br /><br />

                <hr>

                <h5 class="center-align">Lose Weight</h5>
                <br/>
                <p class="flow-text">
                    If you're overweight, talk to your doctor about beginning a weight loss program. Losing weight can help you reduce your levels of triglycerides, LDL and total cholesterol. Shedding even a few pounds can also boost your good cholesterol level - it tends to go up one point for every six pounds you lose.
                </p>
                <br /><br />

                <hr>

                <h5 class="center-align">Exercise</h5>
                <br/>
                <p class="flow-text">
                    If you're healthy but not very active, starting an aerobic exercise program could increase your good cholesterol by 5% in the first two months. Regular exercise also lowers bad cholesterol. Choose an activity that boosts your heart rate, such as running, swimming, or walking briskly, and aim for at least 30 minutes on most days of the week. It doesn't have to be 30 continuous minutes; two 15 minute walks works just as well.
                </p>
                <br /><br />

                <hr>

                <h5 class="center-align">Treatment: Medications</h5>
                <br/>
                <p class="flow-text">
                    If high cholesterol runs in your family, diet and exercise may not be enough to get your numbers where you want them. In that case, medication can give your cholesterol levels an extra nudge. Statins are usually the first choice. They block the production of cholesterol in the liver. Other options include cholesterol absorption inhibitors, bile acid resins, and fibrates. Your doctor may recommend a combination of these medications.
                </p>

                <hr>

                <h5 class="center-align">Can the Damage be Undone?</h5>
                <br/>
                <p class="flow-text">
                    It takes years for high cholesterol to clog the arteries with plaque. But there is evidence that atherosclerosis can be reversed, at least to some degree. Dean Ornish, MD, has published several studies showing that a low-fat vegetarian diet, stress management, and moderate exercise can chip away at the build-up inside the coronary arteries. Other research supports the idea that big drops in cholesterol can somewhat help open clogged arteries.
                </p>
            </div>
        </section>


        <!-- Foods High/Low in Cholesterol -->
        <section>
            <div class="container">
                <!-- foods high in cholesterol -->
                <div class="col m6 col l6">
                    <h4 class="center-align">Top Five Foods High in Cholesterol</h4>
                    <br/>
                    <table class="striped">
                        <tbody>
                            <tr>
                                <td>Egg yolk</td>
                                <td>Egg yolks have the highest levels of cholesterol of any food.</td>
                            </tr>
                            <tr>
                                <td>Caviar (fish roe)</td>
                                <td>One hundred grams of caviar provides 588 mg of cholesterol, 196% of the RDA.</td>
                            </tr>
                            <tr>
                                <td>Liver, pate, foie gras</td>
                                <td>Cholesterol is produced in the liver; consequently, liver is very high in cholesterol.</td>
                            </tr>
                            <tr>
                                <td>Butter</td>
                                <td>One stick of butter has 243 mg of cholesterol, 81% of the RDA.</td>
                            </tr>
                            <tr>
                                <td>Shrimp</td>
                                <td>100g of shrimp contains 195mg of cholesterol, 65% of the RDA.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- foods low in cholesterol -->
                <div class="col m6 col l6">
                    <h4 class="center-align">Top Five Foods that Lower Cholesterol</h4>
                    <br/>
                    <table class="striped">
                        <tbody>
                            <tr>
                                <td>Oatmeal, oat bran, and high-fiber foods</td>
                                <td>Oatmeal and other foods that contain soluble fiber reduce the absorption of cholesterol into the blood stream. Soluble fiber is also found in kidney beans, apples, pears, barley, and prunes.</td>
                            </tr>
                            <tr>
                                <td>Fish and Omega-3 Fatty Acids</td>
                                <td>Omega-3 fatty acids reduce blood pressure and the risk of developing blood clots. Fish high in Omega-3s include mackarel, lake trout, herring, sardines, Albacore tuna, salmon and halibut.</td>
                            </tr>
                            <tr>
                                <td>Walnuts, almonds, and other nuts</td>
                                <td>Rich in polyunsaturated fatty acids, nuts reduce blood cholesterol and keep blood vessels healthy.</td>
                            </tr>
                            <tr>
                                <td>Olive oil</td>
                                <td>Contains a powerful mix of antioxidants that lower LDL levels but leaves the HDL cholesterol intact.</td>
                            </tr>
                            <tr>
                                <td>Foods with added plant sterols or stanols</td>
                                <td>Sterols or stanols help block the absorption of cholesterol and occur naturally in the foods mentioned above. Margarines, orange juice, and yogurt drinks with added plant sterols can reduce LDL cholesterol by more than 10%.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <footer class="page-footer" style="background-color:#760C0C">
            <div class="footer-copyright">
                <div class="container">
                    &copy; 2017 Vitalogy, Inc. 
                    <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
                </div>
            </div>
        </footer>
        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".button-collapse").sideNav();
            });
        </script>
    </body>
</html>
