<html>
    <head>
        <meta charset="utf8">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="public/css/style.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Vitalogy</title>
    </head>

    <body>
        <!-- top navbar menu -->
        <nav style="background-color: #760C0C">
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Vitalogy</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#about">About Us</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown">What We Test For<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            </div>
        </nav>
        <!-- dropdown content -->
        <ul id="dropdown" class="dropdown-content">
            <li><a href="bloodpressure">Blood Pressure</a></li>
            <li><a href="triglycerides">Triglycerides</a></li>
            <li><a href="cholesterol">Cholesterol</a></li>
        </ul>

            <!-- header -->
            <section class="accent-section" style="padding-top: 5%;">
                    <div class="row accent-section">
                        <div class="card large accent-section">
                            <h4 class="center accent-section">
                                <img src="img/logo.png">
                            </h4>
                        </div>
                    </div>
            </section>

            <!-- about us -->
            <section id="about">
                <div class="row">
                    <h4 class="center-align">About Us</h4>
                </div>
                <div class="container">
                    <p class="flow-text">
                            Since 1988, Vitalogy and our team of professionals has provided health assessments for clients ranging from mid-size businesses to Fortune 500 companies—including some of the world’s largest pharmaceutical, managed care and employer organizations. Vitalogy works transparently and in partnership with your organization to provide not only the testing component, but also to help you plan and organize your wellness program, develop a strategy to ensure we capture the information you need, and provide follow-up data quickly and efficiently.
                            
                            We excel in huge events and venues, especially those that involve testing many participants in a short period of time. Some event/venue examples include:
                            
                                • Community Health Fairs
                                • Employee Health Fairs
                                • Sporting Events
                                • Medical Conventions
                                • Open Enrollment Programs
                                • Corporate Wellness Programs
                            
                            Our experienced team utilizes a refined process that we have perfected over the last 20+ years. It begins with all of the necessary registration and diagnostic equipment being delivered on-site so you don’t have to worry about logistics. We break these huge events into smaller, more manageable stages and staff each section with friendly, experienced Vitalogy personnel—not subcontracted workers.
                            
                            Our team initiates assessments that focus on identifying the risk factors of cardiovascular disease, diabetes and other chronic conditions. The event is smooth and seamless, and in about 15 minutes (from start to finish) participants leave with individual results, educational information and a renewed focus on maintaining a healthy lifestyle.
                    </p>
                </div>
                <br/>
            </section>


            <!-- what we test for -->
            <section class="accent-section">
                <br/>
                <div class="row">
                    <h4 class="center-align">What We Test For</h4>
                </div>
                <div class="container">
                    <div class="row">
                        <!-- blood pressure -->
                        <div class="col m4 l4">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/bloodpressure.jpg">
                                </div>
                                <div class="card-action">
                                    <a class="blue-text" href="bloodpressure">Blood Pressure</a>
                                </div>
                            </div>
                        </div>

                        <!-- triglycerides -->
                        <div class="col m4 l4">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/salmonheart.jpg">
                                </div>
                                <div class="card-action">
                                    <a class="blue-text" href="triglycerides">Triglycerides</a>
                                </div>
                            </div>
                        </div>

                        <!-- cholesterol -->
                        <div class="col m4 l4">
                            <div class="card small">
                                <div class="card-image">
                                    <img src="img/hearthealth.jpg">
                                </div>
                                <div class="card-action">
                                    <a class="blue-text"  href="cholesterol">Cholesterol</a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </section>

        <br/>
        <footer>
            <p></p>
        </footer>

        <!-- JQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </body>
</html>