<html>
        <head>
            <meta charset="utf8">
    
            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
            <link rel="stylesheet" href="css/style.css">
            <link rel="icon" type="image/x-icon" href="img/favicon.ico">            
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>Vitalogy | Triglycerides </title>
        </head>
    
        <body>
        <!-- top navbar menu -->
        <nav style="background-color: #760C0C">
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Vitalogy</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button" href="#!" data-activates="dropdown">What We Test For<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="nav-mobile">
                <li><a href="/">Home</a></li>
                <li><a style="color:#760C0C" href="bloodpressure">Blood Pressure</a></li>
                <li><a style="color:#760C0C" href="triglycerides">Triglycerides</a></li>
                <li><a style="color:#760C0C" href="cholesterol">Cholesterol</a></li>            
            </ul>
            </div>
        </nav>
        <!-- dropdown content -->
        <ul id="dropdown" class="dropdown-content">
            <li><a style="color:#760C0C" href="bloodpressure">Blood Pressure</a></li>
            <li><a style="color:#760C0C" href="triglycerides">Triglycerides</a></li>
            <li><a style="color:#760C0C" href="cholesterol">Cholesterol</a></li>
        </ul>

            <br/>

            <!-- what are they -->
            <section>
                <div class="row">
                    <h4 class="center-align">What are Triglycerides?</h4>
                </div>
                <div class="container">
                    <p class="flow-text">
                        Triglycerides are the most common type of fat in your blood. They come from food and your body also makes them. When you eat, your body converts any calories it doesn't use right away into triglycerides. The triglycerides are stored in your fat cells. Later, hormones release triglycerides for energy between meals. If you regularly eat more calories than you burn, particularly "easy" calories like carbohydrates and fats, you may have high triglycerides.
                    </p>
                </div>
            </section>
                    
            <section style="background-color: #158BD1; color: whitesmoke;">
                <br />
                <div class="row">
                    <h4 class="center-align">Why do high triglycerides matter?</h5>                          
                </div>
                <div class="center-align">
                    <p class="flow-text">
                        High triglycerides contribute to hardening of the arteries or thickening of the artery walls which increases the risk of stroke, heart attack and heart disease. 
                    </p>
                    <br/>
                    <h5>Factors that can raise your triglyceride level:</h5>
                    <li>Being overweight</li>
                    <li>Lack of physical activity</li>
                    <li>Smoking</li>
                    <li>Excessive alcohol use</li>
                    <li>A very high carbohydrate diet (greater than 60% of total calories)</li>
                    <li>Certain diseases like diabetes, liver, kidney or thyroid disease</li>
                    <li>Certain medicines like beta blockers, diuretics, birth control pills, steroids & certain cancer drugs</li>
                    <li>Some genetic disorders</li>

                    <br />
                    <strong>The National Cholesterol Education Program (NCEP) guidelines for triglycerides are: </strong>
                    <table class="center-align">
                        <tbody>
                            <tr>
                                <td><strong>Normal: </strong>Less than 150 mg/dL</td>
                            </tr>
                            <tr>
                                <td><strong>Borderline high: </strong>150 to 199 mg/dL</td>
                            </tr>
                            <tr>
                                <td><strong>High: </strong>200 to 499 mg/dL</td>
                            </tr>
                            <tr>
                                <td><strong>Very High: </strong>500 mg/dL or above</td>
                            </tr>
                        </tbody>
                    </table>

                    <i>The American Heart Association recommends that a triglyceride level of 100 mg/dL or lower is considered "optimal".</i>
                </div>
            </section>

            <!-- How to lower triglycerides -->
            <section>
                <div class="row">
                    <h4 class="center-align">Tips to Lower Triglycerides</h4>
                </div>
                <div class="container">
                    <p class="flow-text">
                        Healthy lifestyle choices are key. Lifestyle choices that promote overall health can help lower your triglycerides too. 
                        <li><strong>Lose weight</strong> - If you're overweight, losing 5-10 lbs. can help lower your triglycerides.</li>
                        <li><strong>Cut back on calories</strong> - Remember that extra calories are converted to trigycerides and stored as fat. Reducing your calories will reduce triglycerides.</li>
                        <li><strong>Avoid sugary and refined foods</strong> - Simple carbohydrates, such as sugar and foods made with white flour, can increase triglycerides. Currently, it is estimated that soft drink consumption alone accounts for 1/3 of added sugar intake in the US diet. The AHA recommends consuming no more than 3 soft drinks per week.</li>
                        <li><strong>Limit the cholesterol in your diet</strong> - Avoid the most concentrated sources of cholesterol, including meats high in saturated fat, egg yolks and whole milk products.</li>
                        <li><strong>Choose healthier fats</strong> - Trade saturated fat found in meats for healthier monounsaturated fat found in plants, such as olive, peanut and canola oils.</li>
                        <li><strong>Eliminate trans fat</strong> - Trans fat can be found in some fried foods and commercial baked products, such as cookies, crackers and snack cakes.</li>
                        <li><strong>Limit how much alcohol you drink</strong> - Alcohol is high in calories and sugar and has a particularly potent effect on triglycerides. Even small amounts of alcohol can raise triglyceride levels.</li>
                        <li><strong>Exercise regularly</strong> - Aim for at least 30 minutes of physical activity on most or all days of the week. Regular exercise can boost "good" cholesterol while lowering "bad" cholesterol and triglycerides.</li>

                        <p class="small">
                            Sources: 
                            NIH: National Heart, Lung, and Blood Institute; American Heart Association; Mayo Clinic
                        </p>
                    </p>
                </div>
            </section>


            <!-- FAQ -->
            <section style="background-color: #158BD1; color: whitesmoke;">
                <div class="row">
                    <h4 class="center-align">FAQ</h4>
                </div>
                <div class="container">
                    <p class="flow-text">
                        <h5><strong>Is it OK if I was fasting for this test?</strong></h5>
                        <br/>
                        Yes. The American Heart Association published a scientific statement that actually suggests using non-fasting triglyceride testing as an initial screen. Your physician may want to follow up with a fasting test if your levels are elevated. Triglycerides should be below 150 regardless of the test being fasting or non-fasting.

                        <br/></br/>
                        <h5><strong>How much of an impact does fasting have on lipid panel results?</strong></h5>
                        <br/>
                        Researchers have found that there is very little impact (less than 2%) on <strong>total cholesterol, HDL cholesterol or cholesterol ratio;;</strong> 10% variance for <strong>LDL cholesterol</strong> and 20% variance for <strong>triglycerides.</strong>
                        
                        <br/><br/>
                        <h5><strong>I had breakfast right before the screening - how much of an impact will that have?</strong></h5>
                        <br />
                        It takes 4 hours for triglycerides to reach their highest peak after a meal. You would have to eat a very fatty meal for it to affect the triglyceride level. If you only had a piece of toast and a cup of coffee, it will not have a significant impact.
                        
                        <br/><br/>
                        <h5><strong>I had a few drinks last night after the sales meeting - does that affect my triglycerides?</strong></h5>
                        <br />
                        Alcohol can significantly increase triglyceride levels. Most doctors recommend that you abstain from alcohol for at least 24 hours before being tested.

                        <br/><br/>
                        <h5><strong>Is there a panic value for triglycerides?</strong></h5>
                        <br/>
                        No. While there is no "panic value" for triglycerides, levels > 1,000 mg/dL can lead to abdominal pain and may be life-threatening due to chylomicron-induced pancreatitis. LDX analyzers do not register levels that are >650.
                        <br/>
                        <a href="http://www.mayomedicallaboratories.com/test-catalog/Clinical+and+Interpretive/8316">Source: http://www.mayomedicallaboratories.com/test-catalog/Clinical+and+Interpretive/8316</a>

                        <br /><br />
                        <h5><strong>Can triglycerides be too low?</strong></h5>
                        <br />
                        Our machines do not register levels that are < 45. Low triglycerides may be due to : 
                        <li>Low-fat diet</li>
                        <li>Hyperthyroidism (overactive thyroid)</li>
                        <li>Malabsorption syndrome (conditions in which the small intestine does not absorb fats well)</li>
                        <li>Malnutrition</li>
                        <br/>
                        <a href="http://www.nlm.nih.gov/medlineplus/ency/article/003493.htm">Source: http://www.nlm.nih.gov/medlineplus/ency/article/003493.htm</a>
                    </p>
                </div>
            </section>

            <br />
            <footer class="page-footer" style="background-color:#760C0C">
                <div class="footer-copyright">
                    <div class="container">
                        &copy; 2017 Vitalogy, Inc. 
                        <a class="grey-text text-lighten-4 right" href="#!">Contact Us</a>
                    </div>
                </div>
            </footer>
            <!-- JQuery -->
            <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
            <script>
                $(document).ready(function() {
                    $(".button-collapse").sideNav();
                });
            </script>
        </body>

</html>
