body {
    color: #158BD1; 
}

a {
    color: #760C0C;
}

a:hover {
    color: darkslategray;
}

footer .page-footer {
    background-color: #760C0C;
}

table {
    color: #760C0C;
}

.accent-section {
    color: whitesmoke; 
    background-color: #158BD1;
}

.card-image {
    width: 100%; 
    padding-bottom: 60%; 
    overflow: hidden; 
    position: relative;
}

.card-image img {
    width: 100%; 
    position: absolute; 
    top:0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}